body {
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.one {
  background-image: url(imgs/bg-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
}
.two {
  background-image: url(imgs/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  border-radius: 50px;
}
.three {
  background-image: url(imgs/bg-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  border-radius: 50px;
}
.four {
  background-image: url(imgs/bg-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  border-radius: 50px;
}
.five {
  background-image: url(imgs/bg-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  border-radius: 50px;
}
.six {
  background-image: url(imgs/bg-6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  border-radius: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-left: 40px;
}

.panel {
  cursor: pointer;
  margin: 10px;
  flex: 0.5;
  position: relative;
}
.panel.active {
  flex: 5;
}
h2 {
  color: white;
  position: absolute;
  font-size: 32px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}
